@font-face{
    font-family: 'pokemon';
    src: url('../font/Pokemon\ Solid.ttf') format('opentype');
    font-weight: normal;
}

@font-face{
    font-family: 'pokemon1';
    src: url('../font/Pokemon\ Hollow.ttf') format('opentype');
    font-weight: normal;
}
body {
    background-image: url(../imagens/fundos/fundo_fogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


a:link, a:visited {
    background-color: white;
    color: black;
    border: 4px solid rgb(128, 0, 0);
    padding: 10px 20px;
    text-align: center;
    font-family: "pokemon";
    text-decoration: none;
    border-radius: 15px;
    justify-content: left;
    gap: 100px;
  }
  
  a:hover {
    background-color: rgb(128, 0, 0);
    color: white;
    font-size: 150%;
  }


.cabecalho {
    font-family: "pokemon";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}


.cabecalho .titulo {
    color: rgba(247, 80, 29, 0.822);
}

.cabecalho .elemento {
    height: 80px;
    width: 80px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 0;
}

.lista-pokemon {
    width: 310px;
    height: 520px;
    position: relative;
}

.btn-seta {
    background-color: #f1ecff;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.slider .btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover{
    background-color: rgba(199, 71, 71, 0.973);
}

.cartao {
    opacity: 0;
    background-color: violet;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 12px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: opacity 0.3s ease-in-out;
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.fundo-1 {
    background: url(../imagens/cards/card_fogo.png);
}

.informacoes {
    background-color:rgba(179, 177, 185, 0.7 );
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    border-top-left-radius: 10px;
}

.nome {
    color: #f1ecff;
    font-size: 22px;
}

.tipo {
    background-color: rgb(211, 30, 30);
    color:rgb(8, 8, 8);
    padding: 6px 10px;
    border-radius: 20px;
    margin-left: 45px;
    
}

.tipo1 {
    background-image: linear-gradient(to bottom, rgba(22, 144, 224, 0.836), rgba(128, 128, 128, 0.644));
    color:rgb(8, 8, 8);
    padding: 6px 10px;
    border-radius: 20px;  
}



.container-imagem {
    text-align: center;
}

.imagem-pokemon {
    max-width: 100%;
    max-height: 280px;
    padding: 20px;
}

.descricao {
    background-color:rgba(255, 255, 255, 0.8 );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titulo1 {
    background-color: #333;
    color: #f1ecff;
    font-size: 15px;
    padding: 12px;
}

.txt {
    font-size: 14px;
    padding: 12px;
    text-align: justify;
    max-height:  115px;
    overflow-y: auto;
}