* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(250, 230, 132, 1) 0%,
    rgba(250, 56, 150, 1) 91%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.container {
  border: 2px solid #fff;
  padding: 30px 20px;
  width: 40%;
  min-width: 500px;
  flex: 1 1 auto;
  overflow-y: auto;
  height: 710px;
}

.new-task-container {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: flex;
}

.new-task-container input {
  flex: 3;
  font-size: 1rem;
  border: 2px solid #d1d3d4;
  padding: 12px;
  font-weight: 500;
  border-radius: 5px;
}

.new-task-container input:focus {
  outline: none;
  border-color: #fa3896;
}

.new-task-button {
  flex: 1;
  border-radius: 5px;
  font-weight: 500;
  height: 100%;
  font-size: 1rem;
  border: none;
  color: #fff;
  padding: 12px;
  margin-left: 12px;
  background-color: #fa3896;
  cursor: pointer;
}

.tasks-container {
  background-color: #fff;
  padding: 30px 20px;
  margin-top: 60px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.task-item:hover {
    cursor: pointer;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 2px solid #fae684;
  border-radius: 5px;
 
}

.task-item i {
  background-color: #fa3896;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
}

/* Utilities */

.error {
  border: 3px solid red !important;
}

.error::placeholder {
  color: red;
}

.completed {
  text-decoration: line-through;
}
